div(class="modal visible" id="delete-modal")
 h2(class="modal-title")= "Delete contact ?"
 p.modal-content= "Are you sure you want to delete this contact ?"
  div(class="modal-actions")
   a(href="/" class="btn btn-outline")= "cancel"
   a(href="/" class="btn btn-danger")= "yes"

  